@model AfvalScheiden.Models.Garbage

@{
    ViewData["Title"] = "Afval";
}

<h1>Details</h1>

<div>
    <h4>Garbage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Naam
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Beschrijving
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Bestede tijd
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeNeeded) Minuten
        </dd>
        <dt class = "col-sm-2">
            Type afval
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GarbageCategory.Name)
        </dd>
        <dt class = "col-sm-2">
            Logboek
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logbook.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
