@model IEnumerable<AfvalScheiden.Models.Garbage>

@{
    ViewData["Title"] = "Afval";
}

<h1>Afval</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Naam
            </th>
            <th>
                Beschrijving
            </th>
            <th>
                Bestede tijd
            </th>
            <th>
                Type afval
            </th>
            <th>
                Logboek
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeNeeded) Minuten
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GarbageCategory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logbook.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
